    <article class='post'>
        <header>
            <h2 class="post__title">
                Lorem ipsum dolor sit amet.
            </h2>
        </header>
        <div class="post__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, debitis amet tenetur recusandae commodi veniam, a ducimus assumenda culpa, natus totam libero sed! Molestiae voluptate recusandae veritatis quaerat aspernatur saepe aut dolor dolorem nobis soluta. Velit fugit iure vel aut. Eaque, quam quos? Necessitatibus recusandae illum eos unde vitae. A?
        </div>
    </article>